@keyframes loading-zoom-in {
  0% {
    scale: 0;
  }
  80% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

@keyframes loading-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.load-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: loading-fade-out 0.3s 2s forwards;
	background-color: #e6f5fb;
}
.load-screen img {
  height: 200px;
  width: 200px;
  margin: auto;
  scale: 0;
  animation: loading-zoom-in 0.5s forwards;
}
